div.job-card {
  border: 2px solid #BFC0C0;
  background-color: #BFC0C0;
  border-radius: 5rem;
  margin-top: 8rem;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 4rem;
  height: auto;
  width: auto; }
  div.job-card ul {
    width: auto;
    display: block; }
    div.job-card ul li {
      font-family: 'Raleway', sans-serif;
      font-size: 1.8rem;
      font-style: italic;
      padding-bottom: 1rem;
      font-weight: 300;
      color: #4F5D75; }
      div.job-card ul li button {
        margin-top: 1.1rem;
        background-color: #eb6125;
        color: #FFFF;
        border: #eb6125;
        margin-right: 2rem;
        padding: 10px;
        border-radius: 1rem;
        font-size: 1.3rem;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        width: 10rem;
        letter-spacing: 1px;
        outline: none; }
        div.job-card ul li button:hover {
          cursor: pointer;
          background-color: #e15315; }
      div.job-card ul li.skills {
        display: inline-flex;
        padding-top: 0rem; }
        div.job-card ul li.skills li {
          padding-top: 0rem;
          border: 1px solid #4F5D75;
          border-radius: 2rem;
          padding: 1rem;
          margin-right: 1rem;
          font-size: 1.2rem;
          background-color: #4F5D75;
          color: #FFF; }
      div.job-card ul li span.titles {
        font-size: 2rem;
        font-weight: 500;
        display: block;
        font-style: normal; }
        div.job-card ul li span.titles#company {
          display: inline;
          padding-right: .8rem; }
        div.job-card ul li span.titles#applicants {
          display: inline;
          padding-right: .8rem; }
        div.job-card ul li span.titles#title {
          font-size: 2.4rem;
          padding-top: 2rem;
          padding-bottom: 1rem; }
          div.job-card ul li span.titles#title:hover {
            text-decoration: #eb6125 underline;
            cursor: pointer; }
